In [83]:
##Filter stamdata




#Issue Type in ['Bond', 'Tier 1', 'Tier 2', 'Claim, Redemption', 'Convertible']

#Outstanding Amount Total (NOK latest available conversion rate) > 200 000 000

#Risk Class Type = Non-Financial Company

#Listing Status != shall not be list_dialects

In [84]:

import requests
import pandas as pd
import numpy as np
from snowflake.connector.pandas_tools import pd_writer
from snowflake.connector.pandas_tools import write_pandas
from snowflake.sqlalchemy import URL
from sqlalchemy import create_engine
from slack_sdk import WebClient
from slack_sdk.errors import SlackApiError

In [85]:
stamdata = pd.read_excel(r"G:\Shared drives\Norselab - Investment Team\Norselab AS\13 Projects\High Yield\Stamdata\uttrekk\stamdata_171122.xlsx",skiprows = 4)

In [86]:
fallen_IG = ['XS2308730972',
 'SE0013883246',
 'SE0013883006',
 'SE0014829784',
 'SE0015810825',
 'SE0013883337',
 'SE0013109568',
 'XS2343014119',
 'SE0010100883']

In [87]:
stamdata = stamdata[(stamdata["HY/IG"] == "HY")| stamdata["ISIN"].isin(fallen_IG)]

In [88]:
stamdata[stamdata["ISIN"] == "SE0010100883"]

,Unnamed: 0,ISIN Link,ISIN,Short Name,Ticker,Stock Exchange,Listing Status,Issue Date,Maturity Date,Extended Maturity Date,...,Green,Trustee,Current Return Type,Current Coupon,Current Coupon Fix Date,Current Reference Rate,Current Coupon Margin,Next Ex Redemption Date,Next Installment Date,Latest News Date
8648,NaN,NaN,SE0010100883,Avida Finans AB 18/28 FRN C SUB,AVF 001,OMX,Listed,2018-11-06,2028-11-06,NaT,...,False,Nordic Trustee (SE),Floating Rate Note,8.637,2022-11-03,STIBOR 3M,6.5,2028-10-31,2028-11-06,2018-11-06

In [89]:
stamdata[stamdata["ISIN"] == "SE0010100883"][["Issue Type","Listing Status","Risk Class Type","Outstanding Amount Total (NOK latest available conversion rate)"]]

,Issue Type,Listing Status,Risk Class Type,Outstanding Amount Total (NOK latest available conversion rate)
8648,Tier 2,Listed,Finance,2.383246e+08

In [90]:
stamdata = stamdata[(stamdata["Issue Type"].isin(['Bond', 'Tier 1', 'Tier 2', 'Claim, Redemption', 'Convertible']))| stamdata["ISIN"].isin(fallen_IG)]
stamdata = stamdata[(stamdata["Listing Status"] != "Shall not be listed")| stamdata["ISIN"].isin(fallen_IG)]
stamdata = stamdata[(stamdata["Risk Class Type"] == "Non-Financial Company")| stamdata["ISIN"].isin(fallen_IG) ]
stamdata = stamdata[(stamdata["Outstanding Amount Total (NOK latest available conversion rate)"]>200000000)| stamdata["ISIN"].isin(fallen_IG)]

In [91]:
stamdata[stamdata["ISIN"] == "SE0010100883"]

,Unnamed: 0,ISIN Link,ISIN,Short Name,Ticker,Stock Exchange,Listing Status,Issue Date,Maturity Date,Extended Maturity Date,...,Green,Trustee,Current Return Type,Current Coupon,Current Coupon Fix Date,Current Reference Rate,Current Coupon Margin,Next Ex Redemption Date,Next Installment Date,Latest News Date
8648,NaN,NaN,SE0010100883,Avida Finans AB 18/28 FRN C SUB,AVF 001,OMX,Listed,2018-11-06,2028-11-06,NaT,...,False,Nordic Trustee (SE),Floating Rate Note,8.637,2022-11-03,STIBOR 3M,6.5,2028-10-31,2028-11-06,2018-11-06

In [92]:
rel_col = ['ISIN',
 'Short Name',
 'Ticker',
 'Stock Exchange',
 'Listing Status',
 'Issue Date',
 'Maturity Date',
 'Extended Maturity Date',
 'First European Call',
 'First European Call Notice',
 'Currency',
 'Maximum Outstanding Amount',
 'Maximum Amount',
 'Outstanding Amount',
 'Outstanding Amount Total (NOK latest available conversion rate)',
 'Universal Rating',
 'Agency Ratings',
 'Issuer',
 'Issuer Org. Num',
 'Country',
 'Sector(NO)',
 'Sector(SE)',
 'Industry Group',
 'Industry Sub Group',
 'Issue Type',
 'Redemption Type',
 'Capital Weight',
 'HY/IG',
 'Risk Class Type',
 'Risk',
 'Status',
 'Green',
 'Trustee',
 'Current Return Type',
 'Current Coupon',
 'Current Coupon Fix Date',
 'Current Reference Rate',
 'Current Coupon Margin',
 'Next Ex Redemption Date',
 'Next Installment Date',
 'Latest News Date']

In [93]:
stamdata = stamdata[rel_col].copy()

In [94]:
dt_cols = ['Issue Date','Maturity Date',
 'Extended Maturity Date',
 'Next Ex Redemption Date',
 'Next Installment Date','Current Coupon Fix Date','Latest News Date','First European Call','First European Call Notice'
 ]



for i in dt_cols:
    stamdata[i] = pd.to_datetime(stamdata[i]).dt.date

In [95]:
## add link to upright

In [96]:
isin_maps = [{"ISIN":i} for i in stamdata.ISIN]

In [97]:
api_token = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6NzczNSwic2NvcGUiOiJBUEkiLCJpYXQiOjE2NjMxNDU4NjIsImV4cCI6NDc4NzM0ODI2Mn0.gLouXLtCCFPv0G7raDyQ-6EbwXmICgohkH9jENo7Cv4"

headers_auth = {'Authorization': api_token}

In [98]:
result_match = requests.post('https://api.uprightproject.com/v1/match/company', headers=headers_auth, json=isin_maps).json()

In [99]:
M_df = pd.DataFrame(result_match)

In [100]:
HY_univ = stamdata.merge(M_df[["ISIN","name","UID"]],on = "ISIN",how="left")

In [101]:
HY_univ.shape

(519, 43)

In [102]:
###blomberg

from xbbg import blp
import pandas as pd
import bql

In [103]:
all_iss = ["/ISIN/"+i for i in HY_univ.ISIN]

In [104]:
##Ha bloomberg pÃ¥

In [105]:
bb_date = blp.bdp(tickers=all_iss, flds=["DAY_COUNT_DESCRIPTION_REALTIME","ISSUE_DT","MATURITY","PREV_CPN_DT","NXT_CPN_DT","CPN","CPN_FREQ","FLT_CPN_CONVENTION"])

In [106]:
bb_date = bb_date.reset_index()

In [107]:
bb_date["ISIN"] = bb_date["index"].apply(lambda x: x.split("/ISIN/")[1])

In [108]:
HY_univ = HY_univ.merge(bb_date.drop(columns=["index"],axis = 1),on ="ISIN",how = "left")

In [109]:
engine = create_engine(URL(
        account = 'QCOHCUV-MM41421',
        user = 'SHATTHIK',
        password = 'Shattiker1',
        database = 'IMPACT',
        schema = 'METRICS',
        warehouse = 'COMPUTE_WH'
    ))

In [110]:
HY_univ.columns = [i.upper() for i in HY_univ.columns]

In [111]:
HY_univ.columns = [i.replace(" ","_") for i in HY_univ.columns]

In [112]:
HY_univ.head()

,ISIN,SHORT_NAME,TICKER,STOCK_EXCHANGE,LISTING_STATUS,ISSUE_DATE,MATURITY_DATE,EXTENDED_MATURITY_DATE,FIRST_EUROPEAN_CALL,FIRST_EUROPEAN_CALL_NOTICE,...,NAME,UID,DAY_COUNT_DESCRIPTION_REALTIME,ISSUE_DT,MATURITY,PREV_CPN_DT,NXT_CPN_DT,CPN,CPN_FREQ,FLT_CPN_CONVENTION
0,NO0012740234,"Bluewater Holding B.V 22/26 12,00% USD C",NaN,ABM,Apply for listing with dead line,2022-11-10,2026-11-10,NaT,NaT,NaT,...,None,None,ISMA-30/360,2022-11-10,2026-11-10,2022-11-10,2023-05-10,12.0,2,NaN
1,NO0012734112,"Nordic Rutile AS 22/27 12,50% USD C",NaN,ABM,Apply for listing with dead line,2022-11-09,2027-11-09,NaT,NaT,NaT,...,None,None,ACT/360,2022-11-09,2027-11-09,2022-11-09,2023-02-09,12.5,4,NaN
2,XS2541437583,"Verisure Holding AB 22/27 9,25% C",NaN,BDL,Applying for listing,2022-10-12,2027-10-15,NaT,NaT,NaT,...,Verisure,68947572-2101-4a6d-b7fd-964825aa0037,ISMA-30/360,2022-10-12,2027-10-15,2022-10-12,2023-04-15,9.25,2,NaN
3,NO0012708165,Hospitality Invest AS 22/25 FRN FLOOR C,NaN,OSE,Apply for listing with dead line,2022-10-03,2025-10-03,NaT,NaT,NaT,...,Hospitality Invest,f8aebc61-d2e5-4f71-9b9d-ba33c3e175b5,ACT/360,2022-10-03,2025-10-03,2022-10-03,2023-01-03,9.9,4,Mod bus day - adj
4,NO0012554692,"NES Fircroft Bondc AS 22/26 11,75% USD C",NaN,OSE,Apply for listing with dead line,2022-09-29,2026-09-29,NaT,NaT,NaT,...,NES Fircroft Bondco,f014b667-d057-4831-932c-08498c582b40,ACT/365,2022-09-29,2026-09-29,2022-09-29,2023-03-29,11.75,2,NaN

In [115]:
HY_univ.to_sql("hyuniv",con = engine,if_exists="replace",index=False,method=pd_writer)